{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<title>Category</title>
<link rel="stylesheet" href="{% static 'css/categoryPost.css' %}">
{% if no_post == True %}
<style>
    .sub-form {
        max-width: 450px;
        display: flex;
        margin-top: 1rem;
    }

    .sub-form>input {
        width: 100%;
        padding: .5rem;
        border: 1px solid #851de0;
        border-radius: .2rem;
        outline: none;
        margin-right: .5rem;
    }

    .sub-form>.btn {
        background-color: #851de0;
        border-radius: .2rem;
        color: #ebecf1;
        cursor: pointer;
    }
</style>
{% endif %}
{% endblock %}

{% block body_block %}
<div class="posts-wrapper flex flex-column">
    {% if posts %}
    <section class="featured-posts">
        <div class="primary-post">
            {% for post in posts|slice:":1" %}
            {% if post.featured_image %}
            <img class="primary-post--thumbnail" src="{{post.featured_image.url}}" alt="thumbnail">
            {% else %}
            <div class="primary-post--thumbnail--no-image">
                <svg class="thumbnail-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path
                        d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z" />
                </svg>
            </div>
            {% endif %}
            <div class="primary-post--container flex flex-column">
                <h2><a class="title title--p title--featured"
                        href="{% url 'blog:post_detail' id=post.postId slug=post.slug %}">{{post.title}}</a>
                </h2>
                <p class="meta meta--p">{{post.publish_date}} | {{post.category}}</p>
                <article class="excerpts excerpts--p">
                    {{post.body|safe|truncatewords_html:20}}
                </article>
            </div>
            {% endfor %}
        </div>
        {% for post in posts|slice:"1:4" %}
        <div class="secondary-post post flex">
            {% if post.featured_image %}
            <img class="secondary-post--thumbnail" src="{{post.featured_image.url}}" alt="thumbnail">
            {% else %}

            <img class="secondary-post--thumbnail" src="{% static 'media/no_image.png' %}" alt="">
            {% endif %}
            <div class="secondary-post--details flex flex-column">
                <h3><a class="title title--s"
                        href="{% url 'blog:post_detail' id=post.postId slug=post.slug %}">{{post.title}}</a></h3>
                <p class="meta meta--s">{{post.publish_date}} | {{post.category}}</p>
                <article class="excerpts excerpts--s">
                    {{post.body|safe|truncatewords_html:15}}
                </article>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="posts flex">
        <div class="posts--list">
            {% for post in posts|slice:"4:" %}
            <div class="post flex">
                {% if post.featured_image %}
                <img class="post--thumbnail" src="{{post.featured_image.url}}" alt="thumbanil">
                {% else %}
                <img class="post--thumbnail" src="{% static 'media/no_image.png' %}" alt="thumbanil">
                {% endif %}
                <div class="post--details flex flex-column">
                    <h2><a class="title post--title"
                            href="{% url 'blog:post_detail' id=post.postId slug=post.slug %}">{{post.title}}</a></h2>
                    <p class="meta">{{post.publish_date}} | {{post.category}}</p>
                    <article class="excerpts excerpts--all">
                        {{post.body|safe|truncatewords_html:20}}
                    </article>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <aside class="posts--sidebar">
            <div class="sidebar-1 sidebar">
                <h3 class="sidebar--title">Ads by Google</h3>
                <div class="sidebar--body">

                </div>
            </div>
        </aside> -->
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <h3 style="font-family: 'Josefin Sans', sans-serif; color: #41444b;">Post will be added soon...<br>Subscribe us to
        get notified.</h3>
    <form class="sub-form" action="{% url 'blog:subscribe' %}?next={{request.path}}" method="POST">
        {% csrf_token %}
        {% for field in email_subscribe_form %}
        {{field}}
        {{field.errors}}
        {% endfor %}
        <button class="btn" type="submit">Subscribe</button>
    </form>
    {% endif %}
</div>
{% endblock %}