<div class="post__comment-form">
    {% if user.is_authenticated %}
    <h2 class="post__comment-form--title">Leave a Reply</h2>
    <form class='post__comment-form--body flex flex-column' method='POST'>
        {% for field in form %}
        {{field.label_tag}}
        {{field}}
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn post__comment-form--reply">Add Comment</button>
    </form>
    {% else %}
    <p class="login-message">Please <a class="default-link"
            href="{% url 'registration:log_in' %}?next={{request.path}}">login</a> to post comment</p>
    {% endif %}
</div>