{% extends 'base.html' %}
{% load static %}
{% load webp %}

{% block head_block %}
<title>Home</title>
<meta name="description" content="Home" />
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<!-- <link rel="canonical" href="https://neilpatel.com/" /> -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Home" />
<meta property="og:description" content="Home" />
<!-- <meta property="og:url" content="https://neilpatel.com/" /> -->
<meta property="og:site_name" content="Neil Patel" />
<link rel="preload" as="style" href="{% static 'css/home.css' %}" onload="this.rel='stylesheet'">

{% if not latest_post and categories %}
<style>
    .sub-form {
        max-width: 450px;
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .sub-form>input {
        width: 100%;
        padding: .5rem;
        border: 1px solid #851de0;
        border-radius: .2rem;
        outline: none;
        margin-right: .5rem;
    }

    .sub-form>.btn {
        background-color: #851de0;
        border-radius: .2rem;
        color: #ebecf1;
        cursor: pointer;
    }
</style>
{% endif %}
{% endblock %}

{% block alert_block %}
{% include 'message.html' with message=message %}
{% endblock %}

{% block body_block %}
<div class="main">
    {% if posts and categories %}
    <section class="header">
        {% if posts %}
        <div class="header--latest_post">
            {% for post in posts|slice:":1" %}
            <div class="latest-post">
                {% if post.featured_image %}
                <img class="featured_image" src="{{post.featured_image.url}}" alt="">
                {% else %}
                <img class="featured_image no_image" src="{% webp 'media/no_image.png' %}" alt="">
                {% endif %}
                <section class="post-information">
                    <p class="category">{{post.category}}</p>
                    <h2>
                        <a class="title" href="{% url 'blog:post_detail' slug=post.slug %}">{{post.title|title}}</a>
                    </h2>
                    <div class="excerpt">
                        {{post.body|safe|truncatewords_html:20}}
                    </div>
                    <div class="meta">
                        <p class="meta--author">{{post.author}}</p>
                        <p class="meta--publish_date">{{post.publish_date}}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
            {% for post in posts|slice:"1:5" %}
            <div class="latest-post middle-col">
                {% if post.featured_image %}
                <img class="featured_image" src="{{post.featured_image.url}}" alt="">
                {% else %}
                <img class="featured_image no_image" src="{% static 'media/no_image.png' %}" alt="">
                {% endif %}
                <section class="post-information">
                    <p class="category">{{post.category}}</p>
                    <h3>
                        <a class="title"
                            href="{% url 'blog:post_detail' slug=post.slug %}">{{post.title|truncatewords_html:10}}</a>
                    </h3>
                    <div class="meta">
                        <p class="meta--author">{{post.author}}</p>
                        <p class="meta--publish_date">{{post.publish_date}}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </section>
    <section class="body">
        <div class="category-latest">
            <h2 class="section-title">Latest From Category</h2>
            <div style="margin: 1rem 0;">
                {% for category in categories %}
                {% if category.posts %}
                <h3 class="category-name">{{category.obj.name}}
                </h3>
                <div class="category-container">
                    {% for post in category.posts %}
                    <a href="{% url 'blog:post_detail' slug=post.slug %}" class="link category-container--post">
                        <p class="category">{{post.category}}</p>
                        <h4 class="title">{{post.title|truncatewords_html:10}}</h4>
                        <div class="meta">
                            <p class="meta--author">{{post.author}}</p>
                            <p class="meta--publish_date">{{post.publish_date}}</p>
                        </div>
                    </a href="{% url 'blog:post_detail' slug=post.slug %}">
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="posts">
            <h2 class="section-title">All post</h2>
            {% for post in posts|slice:"5:" %}
            <div class="post">
                {% if post.featured_image %}
                <img class="featured_image" src="{{post.featured_image.url}}" alt="">
                {% else %}
                <img class="featured_image no_image" src="{% static 'media/no_image.png' %}" alt="">
                {% endif %}
                <section class="post--information">
                    <p class="category">{{post.category}}</p>
                    <h2>
                        <a class="title"
                            href="{% url 'blog:post_detail'  slug=post.slug %}">{{post.title|truncatewords_html:10}}</a>
                    </h2>
                    <div class="excerpt">
                        {{post.body|safe|truncatewords_html:20}}
                    </div>
                    <div class="meta">
                        <p class="meta--author">{{post.author}}</p>
                        <p class="meta--publish_date">{{post.publish_date}}</p>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
    </section>
    {% else %}
    <h3 style="font-family: 'Josefin Sans', sans-serif; color: #41444b;">Post will be added soon...<br>Subscribe us to
        get notified.</h3>
    <form class="sub-form" action="{% url 'blog:subscribe' %}?next={{request.path}}" method="POST">
        {% csrf_token %}
        {% for field in email_subscribe_form %}
        {{field}}
        {{field.errors}}
        {% endfor %}
        <button class="btn" type="submit">Subscribe</button>
    </form>
    {% endif %}
</div>
{% endblock %}