{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block head_block %}
<title>{{post.meta_title}}</title>
<meta name="description" content="{{post.meta_description}}">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<link rel="canonical" href="{{request.build_absolute_uri}}">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{post.meta_title}}" />
<meta property="og:description" content="{{post.meta_description}}" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:site_name" content="localhost" />
<meta property="article:published_time" content="{{post.publish_date}}" />
<meta property="article:modified_time" content="{{post.update_date}}" />
<link rel="stylesheet" href="{% static 'css/postPage.css' %}">
<link rel="stylesheet" href="{% static 'css/postCard.css' %}">
{% endblock %}

{% block body_block %}
<div class="post-header">
    <div class="post-header-container">
        <h1 class="article-title">{{post.title|capfirst}}</h1>
        <div class="post__information">
            <div class="post__meta flex">
                <p class="post__meta--category">Category: <span class="name">{{post.category}}</span> </p>
                <p class='post__meta--author'>Author: <span class="name">{{post.author}}</span></p>
                <p class="post__meta--publish-dt">Publish on: <span class="name">{{post.publish_date}} |
                        {{post.read_time}}
                        read</span></p>
            </div>
        </div>
    </div>
    <!-- <img class="title-background" src="{% static 'media/title_background.jpg' %}" alt=""> -->
</div>


<div class="post flex flex-column">
    <section class="post-detail">
        <div class="post__featured-image">
            {% if post.featured_image %}
            <img src="{{post.featured_image.url}}" alt="image">
            {% endif %}
        </div>
        <div class="post__content">
            <article class="post__content--body">
                {{post.body|safe}}
            </article>
        </div>
    </section>

    {% include './comments.html' %}
    {% include './commentForm.html' %}

    {% if related_category_post %}
    <div class="related-posts">
        <h1 class="related-posts--heading">Related Posts</h1>
        <div class="related-posts--container">
            {% for post in related_category_post %}
            {% include './postCard.html' with post=post %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
<div style="padding: .5rem;">
    <h4 style="font-family: Catamaran, sans-serif; color: #41444b;">
        Credit for some design of this page</h4>
    <div class="credit-list flex flex-column">
        <a class="default-link" href="https://www.freepik.com/vectors/background">Background vector -
            www.freepik.com</a>
        <a class="default-link" href="https://www.freepik.com/vectors/background">Background vector -
            www.freepik.com</a>
    </div>
</div>

{% endblock %}