{% extends 'base.html' %}
{% load static %}
{% load social_share %}

{% block head_block %}
<title>{{post.title}}</title>
<meta name="description" content="{{post.meta_description}}">
<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
<link rel="canonical" href="{{request.build_absolute_uri}}">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{post.meta_title}}" />
<meta property="og:description" content="{{post.meta_description}}" />
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:site_name" content="localhost" />
<meta property="article:published_time" content="{{post.publish_date}}" />
<meta property="article:modified_time" content="{{post.update_date}}" />
<link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'css/postPage.css' %}">
<link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'css/postCard.css' %}">
<link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'css/prism.css' %}">
{% endblock %}

{% block body_block %}
<header class="post-header">
    <div class="post-header-container">
        <h1 class="article-title">{{post.title|capfirst}}</h1>
        <div class="post__information">
            <div class="post__meta flex">
                <p class="post__meta--category">Category: <span class="name">{{post.category}}</span> </p>
                <p class='post__meta--author'>Author: <span class="name">{{post.author}}</span></p>
                <p class="post__meta--publish-dt">Publish on: <span class="name">{{post.publish_date}} |
                        {{post.read_time}}
                        read</span></p>
            </div>
        </div>
    </div>
    <!-- <img class="title-background" src="{% static 'media/title_background.jpg' %}" alt=""> -->
</header>

<div class="post flex flex-column">
    <section class="post-detail">
        <div class="post__featured-image">
            {% if post.featured_image %}
            <img class="post__featured-image--image" src="{{post.featured_image.url}}" alt="image">
            {% endif %}
        </div>
        <div class="post__content">
            <article class="post__content--body" id="postContent">
                {{post.body|safe}}
            </article>
        </div>
    </section>
    <div class="post__footer">
        {% for tag in post_tags %}
        <span class="post__footer--tag">
            {{tag}}
        </span>
        {% endfor %}
        <div class="post__footer__options flex center-align wrap">
            <div class="post__footer__like flex center-align">
                <span>
                    Is this article helpful?
                </span>
                <form action="{% url 'blog:post_detail' slug=post.slug %}" method="post" id='likeForm'>
                    {% csrf_token %}
                    <button id="likeButton" class="like-button post__footer__like--button" name="like" value="like">
                        <svg id="likeButtonSVG" class="post__footer__like--icon" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path
                                d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" />
                        </svg>
                    </button>
                </form>
                <span id='postLikeCount' class="post__footer__like--count">{{post.totalLikes}}</span>
            </div>
            <div class="post__footer__share flex center-align">
                <span style="margin-right: .5rem;">Share this article on:</span>
                <div class="post__footer__share--links flex">
                    {% post_to_facebook object_or_url %}
                    {% post_to_twitter "{{post.title}}" "{{request.build_absolute_uri}}" "Share" %}
                    {% post_to_reddit "{{post.title}}" "{{request.build_absolute_uri}}" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="comment-section">
    {% include './comments.html' %}
    {% include './commentForm.html' %}
</div>

{% if related_category_post %}
<div class="related-posts">
    <h1 class="related-posts--heading">Related Posts</h1>
    <div class="related-posts--container flex flex-row wrap">
        {% for post in related_category_post %}
        {% include './postCard.html' with post=post %}
        {% endfor %}
    </div>
</div>
{% endif %}
<script type="text/javascript">
    const path = "{{request.path}}";
    const postId = "{{post.postId}}"
</script>
<script defer src="{% static 'js/prism.js' %}"></script>
<script defer src="{% static 'js/postPage.js' %}"></script>
{% endblock %}