{% extends 'base.html' %}

{% block head_block %}
<title>||All post</title>
{% endblock %}

{% block body_block %}
<div>
    <h1>All post</h1>
    {% for post in posts %}
    <div>
        <h3><a href="{% url 'blog:category' slug=post.category.slug %}">{{post.category}}</a></h3>
        <h1>
            <a href="{% url 'blog:post_detail' slug=post.slug id=post.postId %}">
                {{post.title | title}}</a>
        </h1>
        <div>
            <p>Published on: {{post.publish_date|date:"D M Y"}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}