<div class="post-card flex">
    {% if post.featured_image %}
    <div class="post-card--thumbnail">
        <img class="post-card--image" src="{{post.featured_image.url}}" alt="thumbnail">
    </div>
    {% else %}
    <div class="post-card--thumbnail">
        <svg class="post-card--svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
                d="M464 448H48c-26.51 0-48-21.49-48-48V112c0-26.51 21.49-48 48-48h416c26.51 0 48 21.49 48 48v288c0 26.51-21.49 48-48 48zM112 120c-30.928 0-56 25.072-56 56s25.072 56 56 56 56-25.072 56-56-25.072-56-56-56zM64 384h384V272l-87.515-87.515c-4.686-4.686-12.284-4.686-16.971 0L208 320l-55.515-55.515c-4.686-4.686-12.284-4.686-16.971 0L64 336v48z" />
        </svg>
    </div>
    {% endif %}
    <div class="post-card__details flex-column flex">
        <div class="post-card__meta flex ">
            <p class="post-card__meta--publish-dt">{{post.publish_date}}</p>
            <p class="post-card__meta--category">{{post.category}}</p>
        </div>
        <a class="post-card--title"
            href="{% url 'blog:post_detail' id=post.postId slug=post.slug %}">{{post.title|truncatechars:55}}</a>
        <article class="post-card--body">
            {{post.body|safe|truncatewords_html:15}}
        </article>
        <div class="post-card__btn flex">
            <a class="default-link post-card__btn--read-more"
                href="{% url 'blog:post_detail' id=post.postId slug=post.slug %}">READ MORE</a>
            <svg class="post-card__btn--icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                <path
                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" />
            </svg>
        </div>
    </div>
</div>