@import "../../../global/css/variable.scss";

.editor {
    padding: 1rem 1rem 5rem 1rem;
    border-radius: 0.3rem;
    max-width: 1024px;

    &__label {
        font-family: $large-text;
        color: $text-dark;
    }
    &__fields {
        padding: 1.5rem 0 0 0;
        .title {
            input {
                font-size: 2rem !important;
                &::placeholder {
                    font-family: $text;
                    font-size: 2rem;
                }
            }
        }
        &__input {
            padding: 0 0 1rem 0;
            &--label {
                font-size: 1rem;
                padding: 1rem 0 0.5rem 0;
                font-family: $large-text;
                font-weight: $semi-bold;
            }
            &--textarea {
                padding-bottom: 1rem;
                textarea {
                    display: none;
                }
                #loader-container {
                    width: 3rem;
                    margin: auto;
                    padding: 2rem 0;
                    #spinner {
                        display: block;
                        height: 3rem;
                        border: 0.25rem solid transparent;
                        border-top-color: $primary;
                        border-bottom-color: $primary;
                        border-radius: 50%;
                        animation: spinner 0.7s linear infinite;

                        @keyframes spinner {
                            to {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
            input {
                width: 100%;
                font-size: 1rem;
                border-radius: 0.3rem;
                border: 1px solid rgba($secondary, 0.5);
                outline: none;
                padding: 0.5rem;

                &:focus {
                    box-shadow: 0px 0px 2px 2px rgba($secondary, 0.2);
                }
                &::placeholder {
                    font-family: $text;
                    font-size: 0.9rem;
                }
            }
            &--select {
                select {
                    font-size: 1rem;
                    font-family: $text;
                    width: 200px;
                    padding: 0.5rem;
                    border-radius: 0.3rem;
                    outline: none;
                    border: 1px solid rgba($secondary, 0.5);
                    cursor: pointer;
                    appearance: none;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" style="fill:%232b3137" /></svg>');
                    background-repeat: no-repeat;
                    background-position: right 10px bottom 7px;

                    &:focus {
                        box-shadow: 0px 0px 2px 2px rgba($secondary, 0.2);
                    }
                }
            }
            &--image {
                input {
                    font-size: 0.9rem;
                    border: none;
                    border-radius: 0.3rem;
                }
            }
        }
    }
    &__meta-fields {
        max-width: 550px;
        margin-top: 1.5rem;
        border-radius: 0.3rem;

        input,
        textarea {
            width: 100%;
            font-size: 1rem;
            border-radius: 0.3rem;
            border: 1px solid rgba($secondary, 0.5);
            outline: none;
            padding: 0.5rem;

            &:focus {
                box-shadow: 0px 0px 2px 2px rgba($secondary, 0.2);
            }
            &::placeholder {
                font-family: $text;
                font-size: 0.9rem;
            }
        }
        textarea {
            max-width: 100%;
        }
    }
    &__btn {
        margin-top: 2rem;
        &--publish,
        &--draft {
            background-color: $purple;
            border-radius: 0.3rem;
            color: #ebecf1;
            font-size: 0.9rem;
            cursor: pointer;
            padding-top: 0.8rem;
            transition: 100ms;

            &:hover {
                background-color: $hover;
            }
            &:active {
                box-shadow: 0px 0px 2px 2px $secondary;
            }
        }
    }
}
