//colors
$primary: #0f715d;
$secondary: #52575d;
$error: #d11a2a;
$success: #597151;
$info: #31708f;
$heading: #41444b;
$text-light: #ebecf1;
$white-bg: #ebecf1;
$dark-bg: #41444b;
$text-dark: #41444b;
$title: #006a71;
$large-title: #1f4068;
$paragraph: #1f4068;
$edit: #ffaa71;
$link: #ff7171;
$border: #ff7171;
$background: #ff7171;
$delete: #d11a2a;
$hover: #27907d;
$purple: #851de0;
$notification: #fddb3a;
$text-yellow: #fddb3a;

//font-weight
$normal: 400;
$semi-bold: 500;
$bold: 600;
$extra-bold: 700;

//font-family
$large-text: "Catamaran", sans-serif;
$heading: "Lora", serif;
$text: "Nunito Sans", sans-serif;
