@import "../../../global/css/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,600&display=swap");

.post-header-container {
    padding: 10rem 2rem;
    .article-title {
        font-family: $large-text;
        font-size: 2.5rem;
        color: $text-dark;
        line-height: 1.1;
        max-width: 700px;
    }
}
.title-background {
    max-width: 100%;
    object-fit: cover;
}
.post {
    max-width: 788px;
    margin: auto;
    padding: 0.5rem;
    &__footer {
        padding: 2rem 0;
        border-bottom: 1px solid $text-light;
        border-top: 1px solid $text-light;

        .tag {
            &--name {
                padding: 0.3rem 0.5rem;
                background-color: $white-bg;
                font-size: 1rem;
                border-radius: 0.3rem;
                margin-right: 0.5rem;
            }
        }
    }
    &__meta {
        margin: 1rem 0 0 0;
        &--category,
        &--author,
        &--publish-dt {
            font-family: $text;
            font-weight: 700;
            font-size: 0.9rem;
            color: $secondary;
            margin-right: 1rem;
            .name {
                color: $purple;
                font-weight: 400;
            }
        }
    }

    &--title {
        font-family: $large-text;
        color: $text-dark;
        line-height: 1.1;
        background-color: red;
    }
    &__featured-image {
        width: 100%;
        img {
            max-width: 100%;
        }
    }
    &__content {
        padding: 1rem 0 2rem;
        &--body {
            * {
                font-family: $text;
                width: 100%;
            }
            div {
                width: 100%;
            }

            iframe {
                max-width: 100%;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $primary;
            }
            p,
            div,
            table,
            ul,
            ol,
            dl,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin: 1rem 0;
            }

            ol,
            ul,
            dl {
                padding: 0 4rem;
            }
            p,
            li,
            strong,
            em,
            dt,
            dd {
                font-size: 1.1rem;
                color: $paragraph;
            }
            p > img {
                max-width: 100%;
                height: auto;
            }
            a {
                text-decoration: none;
                color: $link;
                font-weight: 700;
            }
            table {
                border-collapse: collapse;
                padding: 0 4rem;
            }

            table td,
            table th {
                border: 1px solid #ccc;
                padding: 0.4rem;
            }
            table {
                border-collapse: collapse;
            }
        }
    }
}
.comment-section {
    max-width: 780px;
    padding: 0.5rem;

    .comment-list {
        box-shadow: 0 0 0px 1px rgba($secondary, 0.5);
        border-radius: 0.3rem;
        padding: 1rem;
        margin-top: 2rem;
        &--count {
            font-family: $large-text;
            color: $text-dark;
        }
    }
    .comment {
        border-left: 4px solid $primary;
        border-radius: 0.25rem;
        padding: 1rem;
        margin: 1rem 0;
        &--profile {
            align-items: center;
            margin-bottom: 1rem;
        }
        &--profile-pic {
            width: 2rem;
            fill: $primary;
            margin-right: 0.5rem;
        }
        &--name,
        &--body {
            font-family: $text;
        }
        &--name {
            font-weight: $bold;
            color: $primary;
        }
        &--alert-notification {
            margin-top: 1rem;
            color: $secondary;
        }
    }
    .comment-form {
        border-radius: 0.3rem;
        margin-top: 2rem;

        .login-message {
            font-family: $text;
            font-size: 1.1rem;
            padding: 1rem;
            background-color: $white-bg;
            border-radius: 0.3rem;
        }

        &--title {
            font-family: $large-text;
            color: $secondary;
            margin-bottom: 0.5rem;
        }
        &--body {
            label {
                font-weight: 500;
                margin: 1rem 0;
                color: $secondary;
            }
            textarea {
                border: none;
                box-shadow: 0 0 0px 1px rgba($secondary, 0.5);
                outline: none;
                resize: vertical;
                border-radius: 0.2rem;
                padding: 1rem;
                font-size: 1rem;
                font-family: $text;
            }
        }
        &--reply {
            background-color: $purple;
            border-radius: 0.2rem;
            margin: 1rem 0 0 0;
            font-size: 0.8rem;
            font-weight: bold;
            color: $text-light;
            cursor: pointer;
            align-self: flex-start;
            padding: 0.5rem;
            border: none;
        }
    }
}
.related-posts {
    height: 100%;
    padding: 0.5rem;
    &--heading {
        margin: 1rem 0;
        font-family: $large-text;
        color: $text-dark;
    }
}

@media only screen and (max-width: 650px) {
    .post__meta {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .post-header-container {
        padding: 5rem 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .post-header-container {
        padding: 1rem;
        .article-title {
            font-size: 2rem;
        }
        .post__meta {
            flex-direction: column;
        }
    }
}
