#content {
  height: 100%;
  background-color: rgba(235, 236, 241, 0.5);
  padding: 1.5rem 0.5rem;
}

.wrapper {
  max-width: 450px;
  margin: auto;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 0px #0f715d;
          box-shadow: 0px 0px 5px 0px #0f715d;
  background-color: #fff;
  padding: 2rem;
}

.wrapper .email-signup {
  text-align: center;
  margin: 1rem 0 0.5rem;
}

.wrapper .email-signup--message {
  font-size: 0.9rem;
  font-weight: 700;
  color: rgba(82, 87, 93, 0.5);
}

.wrapper .auth-form {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.wrapper .auth-form--message {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: #0f715d;
}

.wrapper .auth-form__name {
  color: #0f715d;
  font-family: "Catamaran", sans-serif;
  margin: 0 0 1rem 0;
  text-align: center;
}

.wrapper .auth-form__input {
  position: relative;
  overflow: hidden;
}

.wrapper .auth-form__input--fields {
  margin: 1rem 0 0;
}

.wrapper .auth-form__input input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(235, 236, 241, 0.5);
  font-size: 1rem;
  color: rgba(65, 68, 75, 0.8);
  outline: none;
  font-family: "Rubik", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 1.5rem;
}

.wrapper .auth-form__input input::-webkit-input-placeholder {
  color: rgba(82, 87, 93, 0.5);
  font-size: 0.9rem;
  font-weight: 600;
}

.wrapper .auth-form__input input:-ms-input-placeholder {
  color: rgba(82, 87, 93, 0.5);
  font-size: 0.9rem;
  font-weight: 600;
}

.wrapper .auth-form__input input::-ms-input-placeholder {
  color: rgba(82, 87, 93, 0.5);
  font-size: 0.9rem;
  font-weight: 600;
}

.wrapper .auth-form__input input::placeholder {
  color: rgba(82, 87, 93, 0.5);
  font-size: 0.9rem;
  font-weight: 600;
}

.wrapper .auth-form__input svg {
  fill: rgba(82, 87, 93, 0.5);
  position: absolute;
  right: 0;
  width: 1rem;
}

.wrapper .auth-form__input .input-border {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: #25a98c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.wrapper .auth-form__btn {
  padding-top: 1.5rem;
}

.wrapper .auth-form__btn--signup, .wrapper .auth-form__btn--login {
  margin-top: 1rem;
  color: #206a5d;
}

.wrapper .auth-form__btn--submit {
  font-weight: bold;
  width: 150px;
  border-radius: 0.3rem;
  color: #ebecf1;
  background-color: #ff7171;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wrapper .auth-form__btn--submit:hover {
  -webkit-box-shadow: 0 5px 5px -5px #52575d;
          box-shadow: 0 5px 5px -5px #52575d;
  background-color: #27907d;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wrapper .auth-form__btn--reset {
  margin-bottom: 0.3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.wrapper .auth-options {
  padding: 1rem;
  background-color: #fff;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .auth-options--links a {
  padding: 0.5rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.wrapper .auth-options--links a:hover {
  color: #27907d;
}

.wrapper .auth-options .Oauth-option {
  margin-top: 1rem;
  color: #52575d;
  font-weight: 500;
}

.wrapper .auth-options__btn {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .auth-options__btn--google, .wrapper .auth-options__btn--facebook, .wrapper .auth-options__btn--github {
  margin: 0.5rem 0.5rem 0;
  padding: 1rem;
  background-color: transparent;
  -webkit-box-shadow: 0 1px 3px 0px #52575d;
          box-shadow: 0 1px 3px 0px #52575d;
  border-radius: 50rem;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.wrapper .auth-options__btn--google:hover, .wrapper .auth-options__btn--facebook:hover, .wrapper .auth-options__btn--github:hover {
  -webkit-box-shadow: 0 1px 5px 0px #52575d;
          box-shadow: 0 1px 5px 0px #52575d;
}

.wrapper .auth-options__btn--google svg, .wrapper .auth-options__btn--facebook svg, .wrapper .auth-options__btn--github svg {
  width: 1.5rem;
  fill: #52575d;
}

.wrapper .auth-options__btn--google .btn-label, .wrapper .auth-options__btn--facebook .btn-label, .wrapper .auth-options__btn--github .btn-label {
  margin-left: 1rem;
}

@media only screen and (max-width: 375px) {
  .wrapper {
    padding: 3rem 1rem;
  }
}
/*# sourceMappingURL=auth.css.map */