<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Mukta:wght@500;600;700;800&family=Rubik:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="{% static 'js/auth.js' %}"></script>
</head>

<body>
    <div id="content">
        <div class="wrapper" style="max-width: 35rem;">
            <h1 class="auth-form__name">New Password</h1>
            {% if validlink %}
            <form class="auth-form" method="POST" style="margin-bottom: 1rem;">
                {% csrf_token %}
                <div class="auth-form__input-items">
                    <div class="auth-form__input">
                        <div class="auth-form__input--fields">
                            <input type="password" name="new_password1" autocomplete="new-password"
                                placeholder="password" required="" id="id_new_password1">
                        </div>
                        {% if form.errors %}
                        <div class="errors">
                            {{form.errors.new_password1}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="auth-form__input">
                        <div class="auth-form__input--fields">
                            <input type="password" name="new_password2" autocomplete="new-password"
                                placeholder="Confirm Password" required="" id="id_new_password2">
                        </div>
                        {% if form.errors %}
                        <div class="errors">
                            {{form.errors.new_password2}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth-form__btn flex flex-column">
                    <button class="auth-form__btn--submit btn" type="submit" name="login">SAVE</button>
                </div>
            </form>
            {% else %}
            <p class="message-error" style="margin: 0 0 1rem 0;">The password reset link was invalid, possibly because
                it
                has already been used.
                Please
                request a new password reset link. <a class="default-link"
                    href="{% url 'registration:password_reset' %}">Reset password</a></p>
            {% endif %}
            <a style="margin-top: 1rem;" class="default-link" href="{% url 'blog:home' %}">Go back
                to
                website</a>
        </div>
    </div>
</body>

</html>