<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Mukta:wght@500;600;700;800&family=Rubik:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="{% static 'js/auth.js' %}"></script>
    <style>
        form {
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.5rem;
        }
    </style>
</head>

<body>
    <div id="content">
        <div class="wrapper flex flex-row" style="max-width: 35rem;">
            <form method="POST" class="auth-form">
                {% csrf_token %}
                {% if validlink %}
                <h2 class="auth-form__name">Reset Password</h2>
                <div class="auth-form__input-items">
                    <div class="auth-form__input flex flex-column" style="position: relative;">
                        <div class="auth-form__input--fields">
                            <label for=" id_password1">NEW PASSWORD</label>
                            <div class="flex flex-row center-align auth-form__input--wrapper">
                                {{form.new_password1}}
                                <div class="input-border"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z" />
                                </svg>
                            </div>
                        </div>
                        <div class="flex flex-row center-align checkbox">
                            <input id="show-password-checkbox" type="checkbox">show password</input>
                        </div>
                        <div class="">
                            {{form.new_password1.errors}}
                        </div>
                        <p class="message-info">
                            Make sure password at least 9 characters including numbers, lowercase, uppercase and special
                            characters
                            letter.
                        </p>
                    </div>
                    <div class="auth-form__input flex flex-column">
                        <div class="auth-form__input--fields">
                            <label for="id_password2">CONFIRM NEW PASSWORD</label>
                            <div class="flex flex-row center-align auth-form__input--wrapper">
                                {{form.new_password2}}
                                <div class="input-border"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z" />
                                </svg>
                            </div>
                        </div>
                        <div class="">
                            {{form.new_password2.errors}}
                        </div>
                    </div>
                </div>
                <div class="auth-form__btn flex-column flex">
                    <button style="text-transform: uppercase;" class="auth-form__btn--submit btn" type="submit"
                        name="sign_up">
                        Create password
                    </button>
                    <a style="margin-top: 1rem;" class="default-link" href="">Go to website</a>

                </div>
                {% else %}
                <p class="message-error">The password reset link was invalid, possibly because it has already been used.
                    Please
                    request a new password reset link. <a class="default-link"
                        href="{% url 'registration:password_reset' %}">RESET
                        PASSWORD</a></p>
                {% endif %}
            </form>

        </div>
    </div>
</body>

</html>