<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'css/global.css' %}">
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="{% static 'css/auth.css' %}">
</head>

<body>
    <div id="content">
        {% include 'message.html' with message=message %}
        <div class="wrapper" style="max-width: 750px;">
            {% if request.path == '/user/password-reset/' %}
            <form id="signup-form" class="auth-form" method="POST" style="margin-bottom: 1rem;">
                <h1 class="auth-form__name">Reset Password</h1>

                <p style="font-size: 1rem; color: #41444b" class="message-info">Enter your registreted Email address. We
                    are
                    sent
                    you a
                    password reset link to that
                    email address.</p>
                {% csrf_token %}
                <div class="auth-form__input-items">
                    <div class="auth-form__input">
                        <label class="auth-form__input--label" for="{{form.email.id_for_label}}">
                            {{form.email.label}}
                        </label>
                        <div class="auth-form__input--fields">
                            <input type="email" name="email" autocomplete="email" required
                                id="{{form.email.id_for_label}}" placeholder="Enter Your Email">
                        </div>
                        {% if form.errors %}
                        <div class="errors">
                            {{form.errors.email}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth-form__btn flex flex-column">
                    <button class="auth-form__btn--submit btn" type="submit" name="login">SEND</button>
                </div>
            </form>
            {% endif %}
            {% if request.path == '/user/password-reset/sent/' %}
            <div class="password-reset-card">
                <p style="font-size: .9rem; color: #41444b; margin: 0 0 1rem 0;" class="message-info">We’ve emailed you
                    instructions for
                    setting your
                    password,
                    if an
                    account exists with the
                    email you entered.
                    You should receive them shortly.

                    If you don’t receive an email, please make sure you’ve entered the address you registered with,
                    and
                    check
                    your spam folder.</p>
            </div>
            {% endif %}
            {% if request.path == '/user/password-reset/success/' %}
            <div>
                <p style="margin: 0 0 1rem 0;" class="message-success">Your password has been succesfully set. You
                    can
                    <a class="default-link" href="{% url 'registration:log_in' %}">Login</a> now.</p>
            </div>
            {% endif %}
            <a style="margin-top: 1rem;" class="default-link" href="{% url 'blog:home' %}">Go back
                to
                website</a>
        </div>
    </div>
</body>

</html>