<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_block %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script defer src="{% static 'js/blog.js' %}"></script>
</head>

<body>
    <header id="header">
        {% include 'navbar.html' %}
    </header>

    <main id="main">
        <section class='main-content container'>
            {% block alert_block %}
            {% endblock %}

            {% block body_block %}
            {% endblock %}
        </section>
    </main>

    <footer id="footer" class="footer">
        {% include 'footer.html' %}
    </footer>
    {% block internal_style %}
    {% endblock %}
    {% block script_block %}
    {% endblock %}
</body>

</html>