{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'css/contactForm.css' %}">
<script defer src="{% static 'js/closeAlert.js' %}" ></script>
{% if request.path == '/contact/' %}
<title>Contact Us</title>
{% else %}
<title>Report</title>
{% endif %}
{% endblock %}

{% block alert_block %}
{% include 'message.html' with message=message %}
<div class="notification-container alert-info" role="alert" id='alert-box'>
    <div class="flex center-align" style="justify-content: space-between;">
        <span>You are already logged in{{message}}</span>
        <svg id='close-alert-icon' class="close-alert-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
            <path
                d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
        </svg>
    </div>
</div>
{% endblock %}

{% block body_block %}
<div class="formwrapper">
    <form method="POST" class="form">
        {% if request.path == '/contact/' %}
        <h1 class="form__name">Contact Us</h1>
        {% else %}
        <h1 class="form__name">Report an issue</h1>
        {% endif %}
        {% csrf_token %}
        {% for field in form %}
        <div class='form__fieldwrapper flex flex-column'>
            <label class="form__fieldwrapper--label" for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
            {{field.errors}}
        </div>
        {% endfor %}
        <button class="form__btn btn" type="submit" name="send">Submit</button>
    </form>
</div>

{% endblock %}